[Unit]
Description=Start tmux in a detached session

[Service]
Type=forking
Environment=TMPDIR=/tmp/%u
ExecStartPre=/usr/bin/mkdir -p -m 700 ${TMPDIR}
ExecStart=/usr/bin/tmux -f /home/%u/.config/tmux/tmux.conf new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=default.target
