# File patterns ignored by git

# nvim
.config/nvim/plugged/
.netrwhist

# ranger
.config/ranger/history

# systemd
.config/systemd/user/default.target.wants/

# vim
*.swp
*.swo

# weechat
.config/weechat/logs/
weechat.log
plugins.xml.gz
irc.conf

# zsh
.zcomp*
.zhistory
.zstomb


