# File patterns ignored by git

# gtk
.config/gtk-3.0/servers
.config/gtk-3.0/bookmarks

# nvim
.config/nvim/plugged/
.netrwhist

# ranger
.config/ranger/history
.config/ranger/bookmarks
.config/ranger/tagged

# systemd
.config/systemd/user/default.target.wants/

# vim
*.swp
*.swo

# weechat
.config/weechat/logs/
weechat.log
*.weechattmp
plugins.xml.gz
irc.conf

# zsh
.zcomp*
.zhistory
.zstomb


