[submodule "base16-shell"]
    path = .config/base16-shell
    url = https://github.com/chriskempson/base16-shell.git

[submodule "prezto"]
    path = .config/zsh/.zprezto
    url = https://github.com/sorin-ionescu/prezto.git

[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
