! X11 Configuration
Xcursor.theme: Breeze
Xcursor.size: 16

! Font Configuration
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

